@model IEnumerable<Medical.ViewModel.OrderDetailViewModel>

@{
    ViewData["Title"] = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">訂單</h3>
        </div>
    </div>
</div>
<!-- Hero End -->
<hr />

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">產品編號</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品名稱</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品照片</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">購買日期</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.DisplayNameFor(model => model.Quantity)</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">購買者</font></font></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;

                           <tr>
                               <td>
                                   @count
                               </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.Product.ProductName)
                               </td>
                               <td>
                                   這裡是照片
                               </td>
                               <td>
                                   <div class="sparkbar" data-color="#00a65a" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> @Html.DisplayFor(modelItem => item.Order.OrderDate)</font></font></div>
                               </td>
                               <td><span class="badge badge-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.DisplayFor(modelItem => item.Quantity)-套件未套 反白</font></font></span></td>
                               <td><span class="badge badge-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.DisplayFor(modelItem => item.Member.MemberName)-套件未套 反白</font></font></span></td>
                               <td>
                                   @Html.ActionLink("新增評論", "createReview", new { id = item.Product.ProductId }, new { @class = "btn btn-primary" })
                               </td>
                           </tr>
                          
                        }
                    }
                </tbody>
            </table>
        </div>           
    </div>
</div>
<div>
    <a asp-action="Index">回到上一頁</a>
</div>
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增產品評論</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">分數</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">評論</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>-->

@section Scripts
{
    <script>
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = 'New message to ' + recipient
            modalBodyInput.value = recipient
        })

    </script>
}